<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Weronika</title>
    <link href="{{ url_for('static', filename = 'main.css') }}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
            rel="stylesheet"
    />
    <script
            src="https://kit.fontawesome.com/5c0c55c6d6.js"
            crossorigin="anonymous"
    ></script>
</head>

<body>
<nav>
    <div class="wrapper">
        <button class="burger-icon"><i class="fas fa-bars"></i></button>
        <div class="nav-items">
            <a href="#On">Find phone</a>
            <a href="#No">Our offer</a>
            <a href="#Ko">Contact</a>
        </div>
    </div>
</nav>
<header class="header" id="On">
    <div class="hero-bg"></div>
    <div class="hero-text">
        <h1>New<span>Mobile</span>Telephony </h1>
        <p>Welcome to the 20th century</p>
    </div>
</header>
<main>


    <section class="about-us wrapper" id="No">
        <table class="section-title">
            <tr class="table_tr">
                <th class="about-us-info">Number of phones</th>
            </tr>

            {% for i in range(0, len) %}
                <tr class="table_tr">
                <td class="table_td">{{ i }}</td>
                <td class="table_td">{{ array[i] }}</td>

            {% endfor %}

            </tr>
        </table>
        <p class="info">On the website you will find phone numbers: {{ index }}</p><br>
        <p class="info">Enter the phone number you are looking for:</p>
        <div class="sub">

            <form action="/phonenumbers" method="POST">
                <input class="describe" type="text" name="name">
                <button class="describe" type="submit">Submit</button>
            </form>
        </div>
        </p>
    </section>


    <section class="products wrapper">
        <h2 class="section-title">Our Offer</h2>

        <div class="products-box">
            <div class="product first-product">
                <div class="hero-bg"></div>
                <div class="hero-text">
                    <h3>New Mobile Technologies</h3>

                </div>
            </div>

            <div class="product second-product">
                <div class="hero-bg"></div>
                <div class="hero-text">
                    <h3>Find Your Dream Phone Number</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="contact warpper" id="Ko">
        <p><i class="fas fa-phone"></i>+48 000 001 002</p>
        <p><i class="fas fa-at"></i>e-mail: mobile@komórki.pl</p>

        <h3>Address:</h3>
        <p>ul.Komórkowa 1, 03-287 Warsaw</p>
    </section>
</main>
<footer>
    <p>&copy; 2022, Adrian Szklarski</p>
</footer>
</body>
</html>
