<!DOCTYPE html>

<html>
<head>
    <title>For loop in Flask</title>
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">
</head>
<body>

<table class="table">
    <tr class="table_tr">
        <th class="table_th">Number of phones</th>
    </tr>

    {% for i in range(0, len) %}
        <tr class="table_tr">
        <td class="table_td">{{ i }}</td>
        <td class="table_td">{{ array[i] }}</td>
        <p class="info">On the website you will find phone numbers: {{ index }}</p>

    {% endfor %}

    </tr>
</table>
<div class="sub">
    <form action="/firstname" method="POST">
        <label for="title"><p class="describe">Number of Phone</p></label><br>
        <input class="describe" type="text" name="name"><br>
        <button class="describe" type="submit">Submit</button>
    </form>
</div>
</body>
</html>


